
.not-found {
    width: 100%;
    height: calc(100vh - 3.75rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.not-found h1 {
    font-size: 7.5rem;
}

.not-found a {
    text-decoration: none;
    background-color: #116FEB;
    color: #FFF;
    padding: .625rem;
    margin-top: .875rem;
    border-radius: .25rem;
}